.w1200 {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.ft-red {
	color: #fe4141;
}

.bg7f {
	background: #f7f7f7;
}

.bgbd {
	background: url(../img/bg.png) repeat;
}

.bgtu {
	background: url(../img/tu.png) no-repeat center center;
	background-size: cover;
}

.header {
	height: 88px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.header .logo {
	margin-top: 23px;
}

.header .topnav li {
	float: left;
	padding: 25px 0;
}

.header .topnav li a {
	display: block;
	height: 46px;
	line-height: 46px;
	font-size: 20px;
	color: #565656;
}

.header .topnav li a:hover,
.header .topnav li a.active {
	color: #42e3be;
}

.header .topnav li.download a{
	color: #fff;
	background: #42E3BE;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 50px;
}

.header .topnav li+li {
	margin-left: 50px;
}
.header .downloadQr{
	position: absolute;
	top: 88px;
	right: 0;
	padding: 10px;
	background: #42E3BE;
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	display: none;
	border-radius: 5px;
	z-index: 9999;
}
.header .downloadQr:after{
	content: '';
	display: block;
	/* background:#42E3BE ; */
	border: 10px transparent solid;
	border-bottom-color:#42E3BE ;
	position: absolute;
	top: -20px;
	right: 30px;
}
.header+div{
	margin-top:88px ;
	}
.banner img {
	display: block;
	width: 100%;
}

.part {
	padding-top: 70px;
}

.part .part-hd {
	text-align: center;
}

.part .part-hd .title {
	font-size: 38px;
	color: #333;
	position: relative;
}

.part .part-hd .title span {
	position: relative;
	z-index: 1;
}

.part .part-hd .title:after {
	content: '';
	display: block;
	width: 60px;
	height: 8px;
	background: #3db89b;
	position: absolute;
	bottom: 6px;
	left: 50%;
	z-index: 0;
	margin-left: -30px;
}

.part .part-hd .subtitle {
	font-size: 20px;
	color: #666;
	margin-top: 25px;
}

.device {
	width: 100%;
	position: relative;
	margin-top: 75px;
	margin-bottom: 80px;
}

.device .arrow {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: 60px;
	height: 60px;
	z-index: 99;
	background: url(../img/left.png) no-repeat center center #f4f4f4;
	border-radius: 100%;
}

.device .arrow-left {
	left: 0;
}

.device .arrow-right {
	background-image: url(../img/right.png);
	right: 0;

}

.swiper-container {
	height: 420px;
	width: 1080px;
	margin: 0 auto;
}

.swiper-slide {
	padding: 20px 15px;
	height: 420px;
	box-sizing: border-box;
}

.swiper-slide>div {
	background: #fbfbfb;
	border-radius: 8px;
	overflow: hidden;
	font-size: 18px;
	color: #999;
	line-height: 30px;
	position: relative;
}

.swiper-slide>div img {
	display: block;
	width: 100%;
}

.swiper-slide>div .txt {
	padding: 20px 25px 35px;
}

.swiper-slide>div .txt .name {
	font-size: 22px;
	color: #333;
	margin-bottom: 10px;
}

.swiper-slide>div .showdetails {
	display: block;
	width: 100px;
	height: 40px;
	color: #00cca6;
	border-radius: 5px;
	border: 1px solid #00cca6;
	position: absolute;
	bottom: 40px;
	right: 16px;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
}

.swiper-slide>div .showdetails:hover {
	background: #00cca6;
	color: #fff;
}

/* AR技术互动联系 */
.interactionlist {
	padding: 70px 0;
}

.interactionlist li {
	float: left;
	width: 380px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.interactionlist li img {
	display: block;
	width: 100%;
}

.interactionlist li .tip {
	background: rgba(0, 0, 0, .4);
	position: absolute;
	top: 220px;
	bottom: 0;
	color: #fff;
	text-align: center;
	padding: 0 50px;
	font-size: 18px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	line-height: 30px;
}

.interactionlist li:hover .tip {
	top: 0;
	padding-top: 90px;
}

.interactionlist li .tip>div {
	line-height: 80px;
	font-size: 24px;
}

.interactionlist li+li {
	margin-left: 30px;
}

.ipimgbox {
	padding: 40px 0;
}

.modeimgbox {
	padding: 70px 0;
}

.ipimgbox img,
.modeimgbox img {
	display: block;
	margin: 0 auto;
}

.system-part.part .part-hd .title {
	font-size: 38px;
	color: #fff;
	font-weight: bold;
}

.system-part.part .part-hd .subtitle {
	color: #c1c1c1;
	font-size: 20px;
}

.system-part.part .part-bd {
	padding: 96px 0 114px;
}

.system-part.part .part-bd ul li {
	float: left;
	width: 33.33%;
	text-align: center;
	line-height: 54px;
	font-size: 24px;
	color: #fff;
}

.system-part.part .part-bd ul li .title {
	font-size: 30px;
	color: #42e3be;
	margin-bottom: 40px;
}

.about-part .part-bd {
	padding: 70px 8px 169px;
}

.about-part .info {
	font-size: 30px;
	color: #00CCA6;
	line-height: 124px;
	margin-bottom: 20px;
}

.about-part .info span {
	margin-left: 40px;
}

.about-part p {
	font-size: 24px;
	color: #666;
	line-height: 54px;
	text-indent: 2em;
}

.footer {
	background: #353535;
	color: #bababa;
	font-size: 16px;

}

.footer>div {
	padding: 60px 90px 20px;
}

.footer>div .bottomnav {
	width: 290px;
	padding-top: 20px;
}

.footer>div .webinfo {
	padding-top: 20px;
}

.footer>div .bottomnav li+li,
.footer>div p+p {
	margin-top: 30px;
	color: #bababa;
}

.footer>div .bottomnav li a {
	color: #bababa;
}

.footer>div .qrbox {
	text-align: center;
	color: #fff;
	font-size: 18px;
}

.footer>div .qrbox img {
	display: block;
	margin: 0 auto 20px;
}
.footer .recordcode{
	text-align: center;
	margin-top: 100px;
}
.footer .recordcode a{
	color: #bababa;
	font-size: 14px;
}
.footer .recordcode a i {
    display: inline-block;
    width: 14px;
    height: 16px;
    margin-right: 6px;
    background: url(../img/icon_beian.png) 0 0 no-repeat;
	background-size:contain ;
    vertical-align: middle;
    margin-top: -2px;
}
#leftsead{width:131px;height:143px;position:fixed;top:258px;right:0px;}
*html #leftsead{margin-top:258px;position:absolute;top:expression(eval(document.documentElement.scrollTop));}
#leftsead li{width:131px;height:53px;}
#leftsead li img{float:right;border-bottom-left-radius:5px;border-top-left-radius:5px;}
#leftsead li a{height:49px;float:right;display:block;min-width:47px;max-width:131px;}
#leftsead li a .shows{display:block;}
#leftsead li a .hides{margin-right:-166px;cursor:pointer;cursor:hand;}
#leftsead li a.youhui .hides{display:none;position:absolute;right:226px;bottom:20px;}
